/* @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Righteous); */
/* @import url("../font/TaipeiSansTCBeta-Bold.ttf");
@import url("../font/TaipeiSansTCBeta-Light.ttf");
@import url("../font/TaipeiSansTCBeta-Regular.ttf"); */

@font-face {
	font-family: "Taipei Sans TC Beta";
	src: url("../font/TaipeiSansTCBeta-Regular.ttf");
	font-weight: 500;
}

@font-face {
	font-family: "Taipei Sans TC Beta";
	src: url("../font/TaipeiSansTCBeta-Light.ttf");
	font-weight: 300;
}

@font-face {
	font-family: "Taipei Sans TC Beta";
	src: url("../font/TaipeiSansTCBeta-Bold.ttf");
	font-weight: 700;
}

* {
	font-family: "Taipei Sans TC Beta";
}

html,
body {
	max-height: 100vh;
	max-width: 100vw;
	margin: 0;
	padding: 0;
	background-color: #a7a9ab;
	/* background: url(../images/img-1487062468-85551.jpg) center center fixed no-repeat; */
	background-size: cover;
	min-width: 284px;
	color: #1e1e1e;
}

#map {
	height: 100vh;
	width: 100vw;
}

.nav-link {
	position: absolute;
	right: 0px;
}

#user {
	position: absolute;
	width: 170px;
	right: 60px;
}

section {
	margin: 0;
	border: 0;
	padding: 0;
	display: block;
	position: relative;
	overflow: hidden;
}

#page img {
	width: 100vw;
	position: absolute;
	top: 0;
}

#button {
	position: absolute;
	left: 8vw;
	bottom: calc(79vh - 27vw);
	width: 21%;
	height: 13vh;
	z-index: 100;
	cursor: pointer;
	/* background-color: #999; */
}

/*=================header==================*/