@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Righteous);
* {
	font-family: "Noto Sans TC", "Righteous", sans-serif;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: url(../images/img-1487062468-85551.jpg) center center fixed no-repeat;
	background-size: cover;
	margin: 0;
	min-width: 284px;
	color: #000000;
}

#map {
	height: 100%;
}
.nav-link {
	position: absolute;
	right: 0px;
}
#user {
	position: absolute;
	width: 170px;
	right: 60px;
}

section {
	margin: 0;
	border: 0;
	padding: 0;
	display: block;
	position: relative;
	overflow: hidden;
}
/*range input樣式*/
input[type="range"] {
	-webkit-appearance: none;
	width: 200px;
	margin: 8.35px 0;
	border-radius: 10px;
}
input[type="range"]:focus {
	outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 13.3px;
	cursor: pointer;
	background: #f2f2f2;
	border-radius: 25px;
}
input[type="range"]::-webkit-slider-thumb {
	box-shadow: 2px 2px 5px #b3b3b3, 0px 0px 4.1px #484848;
	border: 5px solid #33cccc;
	height: 20px;
	width: 20px;
	border-radius: 12px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -4px;
}
/*=================header==================*/
#header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	background: #ffffff;
	position: fixed;
	height: 8vh;
	margin: 0;
	top: 0;
	line-height: 50px;
	z-index: 5;
	width: 100%;
}
#header > div {
	border-radius: 8px;
	height: 65%;
	/* top: 50%; */
	/* transform: translate(0, 10%); */
	/* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}
#header > #avatar-container {
	float: left;
	margin-left: 4%;
	position: relative;
	width: 7.2vh;
	height: 5vh;
	border-radius: 2.5vh;
	/* border: 1.5px solid rgba(76, 76, 76, 0.2); */
	/* box-sizing: border-box; */
}
#team-avatar {
	width: 100%;
	height: 100%;
	/* border: 1.5px solid rgba(76, 76, 76, 0.2); */
	border-radius: 50%;
	box-sizing: border-box;
}
#team-name {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	float: left;
	margin-left: 1%;
	width: 10%;
	/* display: inline-block; */
	font-weight: 400;
	background-color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	transition-duration: 1s;
}
#searcher-container {
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	margin-left: 18%;
	width: 42%;
	height: 65%;
	border: 1px solid #d2d4d6;
	border-radius: 8px;
	background-color: rgb(255, 255, 255);
	z-index: 2;
}
#searcher-container img {
	margin: 0 1vw;
	width: 2.3vh;
	height: 2.3vh;
}
#pac-input {
	margin-left: 0%;
	width: 90%;
	height: 94%;
	outline: none;
	border-radius: 8px;
	border-width: 0;
	background-color: rgb(255, 255, 255);
}
.round-box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	margin-left: 1.5%;
	float: left;
	width: 15.6%;
	/* display: inline-block; */
	font-weight: 400;
	background-color: white;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	transition-duration: 1s;
}
#weight-box {
	border: 1px solid #c6e7f7;
}
#forecaster {
	justify-content: center;
	background-color: #6598fd;
	color: #ffffff;
}
#weight-adjust {
	margin-left: 1.2vw;
	width: 2.6vh;
	height: 2.6vh;
}
#arrow {
	margin-left: 1vw;
	width: 1.6vh;
	height: 1.6vh;
}
#infomation-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	float: left;
	margin-left: 4%;
	width: 10%;
	/* display: inline-block; */
	font-weight: 400;
	text-align: center;
	text-decoration: none;
}
#infomation-container img {
	margin: 0 1vw;
	width: 2.6vh;
	height: 2.6vh;
}

/*=================header==================*/
/*=================hidden==================*/

#weightSelect {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	align-content: center;
	flex-direction: column;
	background: #ffffff;
	position: absolute;
	width: 15%;
	height: 0;
	border-radius: 14px;
	margin: 0;
	top: 8vh;
	left: 58vw;
	font-size: 14px;
	line-height: 50px;
	z-index: 1;
	transition: height 0.15s ease-out;
}
#weightSelect > div {
	height: 15%;
	width: 100%;
	margin-left: 11%;
	/* text-align: center; */
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	flex-direction: row;
}

#info-xx {
	position: absolute;
	height: 18px;
	width: 18px;
	margin: 0;
	top: 11.6vh;
	right: 4vw;
}
#info-xx img {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	z-index: 7;
}
#info {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.9);
	position: fixed;
	height: 88vh;
	width: 26.3vw;
	margin: 0;
	top: 10vh;
	right: 2.6vw;
	line-height: 20px;
	border-radius: 20px;
	z-index: 6;
}
.info-box {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	margin: 2vh 0 0 0;
	float: left;
	width: 82%;
	height: 15%;
	/* display: inline-block; */
	font-weight: 400;
	background-color: white;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	transition-duration: 1s;
}
#point-area {
	height: 8%;
	justify-content: flex-end;
}
#position-area {
	height: 13%;
	align-items: flex-start;
}
#analysis-area {
	height: 6%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
#radar-area {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	height: 25%;
	margin-top: 0;
}
#radar-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 50%;
}
#line-chart-types {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	position: absolute;
	float: right;
	font-size: 12px;
	color: #a7a9ab;
	top: 31.2vh;
	height: 2.4vh;
	width: 21.5vw;
}
#line-chart-types div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 2.94vw;
	border-radius: 1.47vw;
	border: 1px solid #ebedf0;
}
#line-chart-container {
	position: absolute;
	float: right;
	margin-left: 15px;
	top: 34vh;
	height: 25vh;
	width: 21.5vw;
}
#poem-area {
	height: 30%;
}
#position-title {
	width: 100%;
	height: 30%;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
}
#position-latlng {
	width: 100%;
	height: 30%;
	margin-top: 0.7vh;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
}
#position-address {
	width: 100%;
	height: 30%;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
}
#analysis-title {
	width: 30%;
	height: 70%;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	line-height: 28px;
}
#analysis-image {
	display: flex;
	align-items: center;
	flex-direction: column;
}
