<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
	<meta charset="UTF-8" />
	<title> 城市風水師</title>
	<link rel="shortcut icon" href="#" />
	<link type="text/css" rel="stylesheet" href="../static/css/login_page.css" />
	<!-- <link type="text/css" rel="stylesheet" href="../static/css/main.css') }}" /> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script> -->
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/dvxCharts.chart.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="../static/themes/base/styles.css') }}" />
	<script src="../static/js/dvxCharts.chart.min.js') }}" type="text/javascript"></script> -->

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
	<!-- <div id='header'>
		<div id='avatar-container'>
			<img src="../static/figma/Logo.svg" alt="city" id="team-avatar">
		</div>
		<div id='team-name'>城市風水師
			<!-- &nbsp;&nbsp;<img src="../static/figma/city-master.svg" alt="照片去哪惹"> -->
		</div>
	</div> -->
	<div id="page">
		<img src="../static/figma/landing_page.svg" alt="">
	</div>
	<div id="button" role="button" onclick="goRouter()"></div>
</body>
<script>
	goRouter = () => {
		window.location.href = '../index_admin';
	}
</script>
</html>